{% extends "_base.html" %} {% block title %} Home {% endblock title %} 
{% block content %}
<h1>Homepage</h1>

{% if user.is_authenticated%} Hi {{user.email}} {% comment %}
<p><a href="{% url 'logout' %}">Log Out</a></p> {% endcomment %}
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Log out</button>
</form>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %} 
{% endblock content %}
